# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

server/logs
server/*.log
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

# Dependency directories
client/node_modules/
server/node_modules/
jspm_packages/

# dotenv environment variables file
client/.env
server/.env